<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JKSuperGuessImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3FF248F1BBCEF5A003CD996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3FF24AB1BBCEF5A003CD996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3FF24B61BBCEF5A003CD996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
